<div class="container">
  <nav class="navbar navbar-light bg-light navbar-expand-lg">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">You Coach</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hello-world">Hello world</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" translate>register.title</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/{id}" translate>menu.link.my-profile</a>
      </li>
    </ul>
    <div class="mr-2">
      <div class="nav-item" *ngIf="username" translate [translateParams]="{username: username}">menu.label.logged-in
      </div>
      <div class="nav-item" *ngIf="!username" translate>menu.label.logged-out</div>
    </div>
    <div class="btn-group mr-2">
      <button [class.active]="currentLanguage() === 'en'" class="btn btn-primary nav-item"
              (click)="switchLanguage('en')">en
      </button>
      <button [class.active]="currentLanguage() === 'nl '" class="btn btn-primary nav-item"
              (click)="switchLanguage('nl')">nl
      </button>
    </div>
  </nav>
  <router-outlet></router-outlet>

  <footer class="page-footer yellow darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">You-Coach</h5>
          <p class="grey-text text-darken-3">You-Coach is an academic coaching program between students in
            secondary schools, supervised by the schools started by the <a class="grey-text text-darken-2"
                                                                           href="https://www.make-it-happen.org/">Make-It-Happen
              Foundation</a></p>


        </div>
        <div class="col l3 s12">
          <h5 class="black-text">Navigation</h5>
          <ul>
            <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>Home</a>
            </li>
            <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>Sign
              in / Register</a></li>
            <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>Contact</a>
            </li>
            <li><a class="grey-text text-darken-3" href="#"><i class="tiny material-icons">chevron_right</i>About
              us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
        Web application proudly created by <a class="grey-text text-darken-2"
                                              href="https://switchfully.com">Switchfully</a>
        students.
      </div>
    </div>
  </footer>


</div>
