


  <div class="col s12 m10">
    <div class="content-container">

      <section class="card-panel grey lighten-5">
        <h5 translate>become-a-coach.title</h5>
        <div class="divider"></div>
        <div class="row">
          <div class="col l2 m2 s12">
            <img src="assets/img/under_construction.png" class="responsive-img"
                 alt="Under Construction">
          </div>
          <div class="col l10 m10 s12">
            <p class="grey-text text-darken-3" translate>become-a-coach.text.under-construction</p>

            <div class="row right-align">
              <a  i18n-href href="mailto:admin@youcoach.be?subject=Apply to become a coach&body=Write your name, motivation, and topic list" class="waves-effect waves-light yellow darken-2 btn-large black-text" translate>
                become-a-coach.button.send-email<i class="material-icons right">send</i>
              </a>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
