

    <div class="col s12 m10">
      <div class="content-container">

        <section class="card-panel grey lighten-5">
          <h5 translate>coaching-sessions.title.upcoming</h5>
          <div class="divider"></div>
          <div class="row">
            <div class="col l12 s12">
              <table class="highlight responsive-table">
                <thead>
                <tr>
                  <th translate>coaching-sessions.label.coachee</th>
                  <th translate>coaching-sessions.label.topic</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Location</th>
                  <th translate>coaching-sessions.label.status</th>
                  <th translate> coaching-sessions.label.action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let session of upcomingSessions">
                  <td>{{session.coachee.firstName}} {{session.coachee.lastName}}</td>
                  <td>{{session.subject}}</td>
                  <td>{{session.date.substring(0,10)}}</td>
                  <td>{{session.date.substring(11,16)}}</td>
                  <td>{{session.location}}</td>
                  <td>{{session.status | titlecase}}</td>
                  <td><a *ngIf="session.status!=='ACCEPTED'" class="waves-effect waves-light  grey lighten-2 btn black-text" (click)="updateStatus(session,'ACCEPTED')" translate>coaching-session.button.accept<i
                    class="material-icons right">assignment_turned_in</i></a><a class="waves-effect waves-light  grey lighten-2 btn black-text" (click)="updateStatus(session,'DECLINED')" translate >coaching-session.button.decline<i
                    class="material-icons right">cancel</i></a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </section>

        <section class="card-panel grey lighten-5">
          <h5 translate>coaching-sessions.title.feedback</h5>
          <div class="divider"></div>
          <div class="row">
            <div class="col l12 s12">
              <table class="highlight responsive-table">
                <thead>
                <tr>
                  <th translate>coaching-sessions.label.coachee</th>
                  <th translate>coaching-sessions.label.topic</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Location</th>
                  <th translate>coaching-sessions.label.status</th>
                  <th translate> coaching-sessions.label.action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let session of waitingForFeedbackSessions">
                  <td>{{session.coachee.firstName}} {{session.coachee.lastName}}</td>
                  <td>{{session.subject}}</td>
                  <td>{{session.date.substring(0,10)}}</td>
                  <td>{{session.date.substring(11,16)}}</td>
                  <td>{{session.location}}</td>
                  <td>{{session.status | titlecase}}</td>
                  <td><a class="waves-effect waves-light  grey lighten-2 btn black-text" translate>coaching-sessions.button.feedback<i
                    class="material-icons right">feedback</i></a></td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>

        </section>

        <section class="card-panel grey lighten-5">
          <h5 translate>coaching-session.title.archive</h5>
          <div class="divider"></div>
          <div class="row">
            <div class="col l12 s12">
              <table class="highlight responsive-table">
                <thead>
                <tr>
                  <th translate>coaching-sessions.label.coachee</th>
                  <th translate>coaching-sessions.label.topic</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Location</th>
                  <th translate>coaching-sessions.label.status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let session of archivedSessions">
                  <td>{{session.coachee.firstName}} {{session.coachee.lastName}}</td>
                  <td>{{session.subject}}</td>
                  <td>{{session.date.substring(0,10)}}</td>
                  <td>{{session.date.substring(11,16)}}</td>
                  <td>{{session.location}}</td>
                  <td>{{session.status | titlecase}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>

