<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <img src="assets/img/east.png" alt="Eastern logo" height="40" width="40" id="eastern-logo"/>
      <a id="logo-container" href="#" class="brand-logo">
        You-Coach
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#" translate>menu.link.home</a>
        </li>
        <li>
          <a href="#" translate>menu.link.about-us</a>
        </li>
        <li>
          <a href="#" translate>menu.link.contact</a>
        </li>
        <li  *ngIf="username">
          <a  routerLink="/user/myprofile/{{id}}" translate>menu.link.my-profile</a>
        </li>
        <li>
          <span class="black-text" *ngIf="username" translate [translateParams]="{username: username}">
            menu.label.logged-in
          </span>
          <a *ngIf="!username" class="waves-effect waves-light yellow darken-2 btn black-text" routerLink="/login">
            <div *ngIf="!username" translate>menu.button.sign-in</div>
            <i class="material-icons right">person</i>
          </a>
          <a *ngIf="username" class="waves-effect waves-light yellow darken-2 btn black-text"
                              routerLink="/home" (click)="logout()">
            <div *ngIf="username" translate>menu.button.sign-out</div>
            <i class="material-icons right">person</i>
          </a>
        </li>
        <li *ngIf = "!username">
          <a class="waves-effect waves-light teal lighten-3 btn black-text"
             routerLink="/register" translate>menu.button.register
            <i class="material-icons right">person_add</i>
          </a>
        </li>
        <li>
          <a (click)="switchLanguage('en')">EN</a>
        </li>
        <li>
          <a (click)="switchLanguage('fr')">FR</a>
        </li>
        <li>
          <a (click)="switchLanguage('nl')">NL</a>
        </li>

        <!--
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        -->

      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>
          <a href="#" translate>menu.link.home</a>
        </li>
        <li>
          <a href="#" translate>menu.link.about-us</a>
        </li>
        <li>
          <a href="#" translate>menu.link.contact</a>
        </li>
        <li  *ngIf="username">
          <a routerLink="/user/myprofile/{{id}}" translate>menu.link.my-profile</a>
        </li>
        <li>
          <a class="waves-effect waves-light yellow darken-2 btn black-text" routerLink="/login">menu.button.sign-in
            <i class="material-icons right">person</i>
          </a>
        </li>
        <li *ngIf = "!username">
          <a class="waves-effect waves-light teal lighten-3 btn black-text" routerLink="/register">menu.button.register
            <i class="material-icons right">person_add</i>
          </a>
        </li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
</header>
