<div class="col s12 m10">
  <div class="content-container">

    <section class="card-panel grey lighten-5">
      <h5 translate>coach-profile-information.title</h5>
      <div class="divider"></div>
      <div class="row">
        <div class="col l2 m2 s12">
          <img src="{{user.pictureUrl}}" class="responsive-img circle" translate
               alt="coach-profile-information.label.profile-picture">
        </div>
        <div class="col l10 m10 s12">
          <table class="highlight">
            <tbody>
            <tr>
              <td><strong translate>coach-profile-information.label.first-name</strong></td>
              <td>{{user.firstName}}</td>
            </tr>
            <tr>
              <td><strong translate>coach-profile-information.label.last-name</strong></td>
              <td>{{user.lastName}}</td>
            </tr>
            <tr>
              <td><strong translate>coach-profile-information.label.email</strong></td>
              <td>{{user.email}}</td>
            </tr>
            <tr>
              <td><strong>Class</strong></td>
              <td>4 - Latin Science</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <div class="divider"></div>

    <section class="card-panel grey lighten-5">
      <!--<div class="right">
        <a class="waves-effect waves-light btn-large btn-floating teal lighten-3"><i
          class="material-icons left">edit</i>Edit</a>
      </div>-->
      <h5 translate>coach-information.title</h5>
      <div class="divider"></div>
      <div class="row">
        <div class="col l12 m12 s12">
          <table class="highlight">
            <tbody>
            <!-- TODO: add the coachXP -->
            <tr>
              <td><strong translate>coach-information.label.introduction</strong></td>
              <td>{{user.coach.informations}}</td>
            </tr>
            <tr>
              <td><strong translate>coach-information.label.availability</strong></td>
              <td>{{user.coach.availability}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <div class="divider"></div>

    <section class="card-panel grey lighten-5">
      <h5 translate>coaching-topics.title</h5>
      <div class="divider"></div>
      <div class="row">
        <div class="col s12">
          <table class="highlight">
            <tbody>
            <tr *ngIf="user.coach.firstTopic === undefined && user.coach.secondTopic === undefined">
              <td>
                <span>No topics attached.</span>
              </td>
            </tr>
            <tr *ngIf="user.coach.firstTopic !== null">
              <td><strong>{{user.coach.firstTopic}}</strong></td>
              <td>
                <div class="center">
                  <a class="btn-floating" *ngFor="let value of topicOneValues"><i
                    class="material-icons">filter_{{value}}</i></a>
                </div>
              </td>
            </tr>
            <tr *ngIf="user.coach.secondTopic !== null">
              <td><strong>{{user.coach.secondTopic}}</strong></td>
              <td>
                <div class="center">
                  <a class="btn-floating" *ngFor="let value of topicTwoValues"><i
                    class="material-icons">filter_{{value}}</i></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </div>
</div>
