<!--LET THIS DIV HERE OR DROPDOWN DOES NOT WORK-->
<div style="display: none">{{this.topics[1].topic}}</div>
<div class="row">

  <div class="col s12 m12">
    <div class="content-container">

      <section class="card-panel grey lighten-5">

        <header>
          <div class="row">
            <div class="input-field col l3 m6 s12" >
              <select id="filter-by-topic" [(ngModel)]="optionTopic" (change)="topicSelected(optionTopic)">
                <option value="" selected>All</option>

                <option *ngFor="let topic of this.topics" value="{{topic.topic}}">{{topic.topic}} </option>
              </select>
              <label for="filter-by-topic" translate>coach-overview.label.filter-topic</label>
            </div>

            <div class="input-field col l3 m6 s12">
              <select id="filter-by-year" multiple [(ngModel)]="option" (change)="yearSelected(option)" >
                <option value="">All</option>
                <option value="1">year 1</option>
                <option value="2">year 2</option>
                <option value="3">year 3</option>
                <option value="4">year 4</option>
                <option value="5">year 5</option>
                <option value="6">year 6</option>
                <option value="7">year 7</option>
              </select>
              <label for="filter-by-year" translate>coach-overview.label.filter-year</label>
            </div>
            <div class="input-field col l6 m12 s12">
              <i class="material-icons prefix">search</i>
              <input #searchBox id="icon_prefix" type="text" class="validate" (input)="search(searchBox.value)"/>
              <label for="icon_prefix" translate>coach-overview.label.search-placeholder</label>
            </div>
          </div>
        </header>

        <div class="row">

          <div *ngFor="let user of users" class="col l3 m4 s12">
            <h5 class="header">{{user.firstName}} {{user.lastName}}</h5>
            <div class="card mobile-card horizontal">
              <div class="card-image col s12 l6">
                <img routerLink="/coach/viewprofile/{{user.id}}"
                     src="{{user.pictureUrl}}" class="circle responsive-img" alt="profile picture" />
              </div>
              <div class="card-stacked col s12 l6">
                <div class="card-content">
                  <table class="highlight responsive-table">
                    <tbody>
                    <tr class="col s12" *ngIf="user.coach.classesForFirstTopic !== null">
                      <td><strong>{{user.coach.firstTopic}}</strong></td>
                      <td>{{user.coach.classesForFirstTopic}}</td>
                    </tr>
                    <tr class="col s12" *ngIf="user.coach.classesForSecondTopic !== null">
                      <td><strong>{{user.coach.secondTopic}}</strong></td>
                      <td>{{user.coach.classesForSecondTopic}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <a routerLink="/session/create/{{user.id}}" class="btn-floating halfway-fab waves-effect waves-light yellow darken-2 btn-large"><i
                  class="material-icons">send</i></a>
              </div>
            </div>
          </div>

        </div>

      </section>

    </div>
  </div>
</div>

