<div class="row">

  <div class="col s12 m10">
    <div class="content-container">

      <section class="card-panel grey lighten-5">
        <h5 translate>profile-information.title</h5>
        <div class="divider"></div>
        <div class="row">
          <div class="col l10 m10 s12">
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value)">
              <table *ngIf="user" class="highlight">
                <tbody>
                <tr>
                  <td><strong translate>coach-profile-information.label.first-name</strong></td>
                  <td><input formControlName="firstName"></td>
                </tr>
                <tr>
                  <td><strong translate>coach-profile-information.label.last-name</strong></td>
                  <td><input formControlName="lastName"></td>
                </tr>
                <tr>
                  <td><strong translate>coach-profile-information.label.email</strong></td>
                  <td><input formControlName="email" type="email"></td>
                </tr>
                <tr>
                  <td><strong translate>profile-information.label.profile-picture</strong></td>
                  <td><input formControlName="pictureUrl"></td>
                </tr>
                </tbody>
              </table>
              <div id="button-container">
                <button class="waves-effect waves-light yellow darken-2 btn-large black-text" type="submit" translate>
                  profile-information.button.save
                </button>
                <button class="right grey lighten-3 btn-large black-text"
                        (click)="myprofileComponent.switchView('main')" translate>
                  profile-information.button.cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>
